:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.mat-form-field-wrapper {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.mat-form-field {
  width: 100%;
}
.btn-style {
  height: 50px;
  width: 150px;
  font-size: 30px;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}