/* mat-card{
  width: 50%;
} */

.transa-history form{
  width: 100%;
}
 table{
  width: 100%;
}

th,td{
  text-align: center;
}

button{
  margin-left: 150px ;
}

.picker2{
  margin-left: 20px;
}



.mat-header-cell {
  background: #3f51b5;
  font-size: 14px;
  color: #ffffff;
}

.mat-row:hover {
  background-color: #ADE5F9;
}
.btn-class{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}