<mat-sidenav-container autosize>
    
  <mat-sidenav #sidenav mode="side" opened="true">
      
      <mat-nav-list>
      
        <mat-list-item (click)="isExpanded = !isExpanded">
          <mat-icon
            mat-list-icon
            class="chevron-button sidenav-button"
            [ngClass]="{ rotated: isExpanded }"
            >chevron_right</mat-icon>
        </mat-list-item>
       <mat-list-item [routerLink]="'user-account'">
        <mat-icon mat-list-icon class="">payment</mat-icon>
      <span *ngIf="isExpanded">My Accounts</span>
      </mat-list-item> 

      <mat-list-item [routerLink]="'create-transaction'">
        <mat-icon mat-list-icon class="">create</mat-icon>
        <span *ngIf="isExpanded">Transactions</span>
      </mat-list-item>
      
      <mat-list-item [routerLink]="'user-profile'">
        <mat-icon mat-list-icon class="">person</mat-icon>
        <span *ngIf="isExpanded">User info</span>
      </mat-list-item>
    </mat-nav-list>
    </mat-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
