<div class="container">
    <mat-nav-list class="transaction-navigation-list">
            <mat-list-item [routerLink]="'transfer'" routerLinkActive="active">
                Transfer
            </mat-list-item>
            <mat-list-item [routerLink]="'deposit'" routerLinkActive="active">
                Deposit
            </mat-list-item>
            <mat-list-item  [routerLink]="'withdraw'" routerLinkActive="active">
                Withdraw
            </mat-list-item>
        </mat-nav-list>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
