table {
  width: 100%;
}

mat-form-field{
  width: 100%;
}

.userlist-wrap{
  padding: 20px;
}

.mat-header-cell {
  background: rgb(206, 197, 197);
  font-size: 20px;
}

td, th {
  width: 25%;
}

.search-div{
  display: flex;
}

.mat-raised-button{
  height: 50px;
  margin-left: 20px;
  border-radius: 5px;
}

.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}
