table {
  width: 100%;
}

mat-form-field{
  width: 100%;
}

.userlist-wrap{
  padding: 20px;
}




.search-div{
  display: flex;
}



.mat-raised-button{
  height: 50px;
  margin-left: 20px;
  border-radius: 5px;
}

.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

.info-button{
  color: #5388b4;
}

.edit-button{
  color: #28A745;
  
}

.delete-button{
  color: #DC3545;
}

.mat-header-cell {
  background: #3f51b5;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.mat-row:hover {
  background-color: #ADE5F9;
}