<p>create-user works!</p>
<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Full name</mat-label>
          <input matInput />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Adress"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address 2</mat-label>
      <textarea matInput placeholder="Adress2"></textarea>
    </mat-form-field>
  </p>

  
</form>
