<div class="user-card-container">
  <mat-card>
    <mat-card-title>User </mat-card-title>
    <mat-card-subtitle>User information</mat-card-subtitle>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>customerID: {{ state?.customerID }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>name: {{ state?.name }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>dateOfBirth: {{ state?.dateOfBirth }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>email: {{ state?.email }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>dateOfBirth: {{ state?.dateOfBirth }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>address: {{ state?.address }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>phone: {{ state?.phone }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>paNnumber: {{ state?.paNnumber }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>aadhaarnumber: {{ state?.aadhaarnumber }} </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/admin/user-list">
        Back
      </button>
      <!-- <button  mat-raised-button color="primary" (click)="navigate(state?.customerID )" >Transaction info</button> -->
    </mat-card-actions>
  </mat-card>
</div>
<div class="user-card-container">
  <app-transaction-history></app-transaction-history>
</div>
