<div class="user-card-container">
  <mat-card>
    <mat-card-title>User </mat-card-title>
    <mat-card-subtitle>User information</mat-card-subtitle>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>customerID: {{ state?.customerID }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>name: {{ state?.name }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>dateOfBirth: {{ state?.dateOfBirth }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>email: {{ state?.email }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>dateOfBirth: {{ state?.dateOfBirth }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>address: {{ state?.address }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>phone: {{ state?.phone }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>paNnumber: {{ state?.paNnumber }} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>aadhaarnumber: {{ state?.aadhaarnumber }} </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/admin/user-list">
        Back
      </button>
      <!-- <button  mat-raised-button color="primary" (click)="navigate(state?.customerID )" >Transaction info</button> -->
    </mat-card-actions>
  </mat-card>

  <div>
    <form [formGroup]="form" (submit)="applyDateFilter()">
      <mat-form-field>
        <input
          matInput
          placeholder="Date From"
          [matDatepicker]="picker1"
          formControlName="fromDate"
          required
          (click)="picker1.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="toDate"
          [matDatepicker]="picker2"
          formControlName="toDate"
          required
          (click)="picker2.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button
        class="button-form"
        mat-raised-button
        color="accent"
        (click)="applyDateFilter()"
        [disabled]="form.invalid"
      >
        Submit
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        [disabled]="form.invalid"
      >
        Clear
      </button>
    </form>
    <!-- <mat-form-field>
      <input
        matInput
        type="text"
        #filter
        (keyup)="doFilter(filter.value)"
        placeholder="Filter"
      />
    </mat-form-field> -->
  </div>
  <mat-table
    [dataSource]="tableService.dataSource"
    matSort
    matSortActive="date"
    matSortDirection="desc"
    class="table-transa"
  >
    <ng-container matColumnDef="transactionId">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.transactionId }}</td>
    </ng-container>

    <ng-container matColumnDef="transactionDate">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transactionDate | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="transactionType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.transactionType }}</td>
    </ng-container>

    <ng-container matColumnDef="fromAccount">
      <th mat-header-cell *matHeaderCellDef>from customer id</th>
      <td mat-cell *matCellDef="let element">{{ element.fromAccount }}</td>
    </ng-container>

    <ng-container matColumnDef="toAccount">
      <th mat-header-cell *matHeaderCellDef>to customer id</th>
      <td mat-cell *matCellDef="let element">{{ element.toAccount }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>amount</th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="transactionStatus">
      <th mat-header-cell *matHeaderCellDef>transactionStatus</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transactionStatus }}
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="transactionId">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.transactionId }}</td>
    </ng-container>

    
    <ng-container matColumnDef="transactionDate">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.transactionDate |  date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    
    <ng-container matColumnDef="transactionType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.transactionType }}</td>
    </ng-container>

    
    <ng-container matColumnDef="fromAccount">
      <th mat-header-cell *matHeaderCellDef>from customer id</th>
      <td mat-cell *matCellDef="let element">{{ element.fromAccount }}</td>
    </ng-container>

    <ng-container matColumnDef="toAccount">
      <th mat-header-cell *matHeaderCellDef>to customer id</th>
      <td mat-cell *matCellDef="let element">{{ element.toAccount }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>amount</th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="transactionStatus">
      <th mat-header-cell *matHeaderCellDef>transactionStatus</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transactionStatus }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->

  <!-- <div class="calendar-container">
    <form [formGroup]="dateRangeForm" (ngSubmit)="onFormSubmitPeriod()">

      <mat-form-field>
  
        <mat-label>Enter Session Period</mat-label>
  
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="From Date" required formControlName="fromDate">
          <input matEndDate placeholder="To Date" required formControlName="toDate">
        </mat-date-range-input>
  
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
  
        
        <mat-error *ngIf="dateRangeForm.controls.fromDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="dateRangeForm.controls.toDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  
        
        <mat-error *ngIf="dateRangeForm.controls.fromDate.errors?.required">From Date Required</mat-error>
        <mat-error *ngIf="dateRangeForm.controls.toDate.errors?.required">To Date Required</mat-error>
  
      </mat-form-field>
  
      <p>Selected Date Range: {{dateRangeForm.value | json}}</p>
  
      <button mat-raised-button >Submit</button>
  
  </form>
  </div> -->
</div>
